In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/EDA_Gold_Silver_prices.csv")

In [4]:
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [5]:
df.dtypes

Month           object
SilverPrice    float64
GoldPrice      float64
dtype: object

In [7]:
column_1 = df["SilverPrice"]
column_2 = df["GoldPrice"]

In [9]:
correlation = column_1.corr(column_2)
print(correlation)

0.9542559570539775

In [13]:
def convert(date_str):
    month = date_str.split("-")[0]
    year = date_str.split("-")[1]
    x = year.zfill(2) + '-' + month 
    return pd.datetime.strptime(x, '%y-%b')

In [14]:
df.Month = df.Month.apply(convert)

<ipython-input-13-f0c46324fc1e>:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  return pd.datetime.strptime(x, '%y-%b')

In [15]:
df.Month

0     1997-03-01
1     1997-04-01
2     1997-05-01
3     1997-06-01
4     1997-07-01
         ...
236   2016-11-01
237   2016-12-01
238   2017-01-01
239   2017-02-01
240   2017-03-01
Name: Month, Length: 241, dtype: datetime64[ns]

In [21]:
mask = (df['Month'] >= "2008-01-01")  & (df['Month'] <= "2008-12-31")

In [22]:
df2 = df.loc[mask]

In [25]:
df2

         Month  SilverPrice  GoldPrice
130 2008-01-01       632.29   35025.78
131 2008-02-01       701.87   36642.46
132 2008-03-01       775.49   39082.77
133 2008-04-01       700.96   36416.00
134 2008-05-01       718.20   37435.38
135 2008-06-01       729.63   38087.88
136 2008-07-01       773.80   40256.56
137 2008-08-01       625.97   36026.85
138 2008-09-01       555.58   37815.02
139 2008-10-01       507.20   39235.79
140 2008-11-01       483.55   37284.82
141 2008-12-01       501.82   39696.27

In [24]:
column_1 = df2["SilverPrice"]
column_2 = df2["GoldPrice"]
correlation = column_1.corr(column_2)
print(correlation)

0.009583757463369393