In [1]:
import pandas as pd
cust_rating = pd.read_csv('https://query.data.world/s/ILc-P4llUraMaYN6N6Bdw7p6kUvHnj')

In [3]:
cust_rating.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [5]:
cust_rating['avg_rating'] = round((cust_rating['rating'] + cust_rating['food_rating'] + cust_rating['service_rating'])/3)
cust_rating.head()

  userID  placeID  rating  food_rating  service_rating  avg_rating
0  U1077   135085       2            2               2         2.0
1  U1077   135038       2            2               1         2.0
2  U1077   132825       2            2               2         2.0
3  U1077   135060       1            2               2         2.0
4  U1068   135104       1            1               2         1.0

In [6]:
df = pd.read_csv('data/grades.csv')

In [8]:
df["file_type"] = df["submission"].apply(lambda x: "" if x =="" else x.split(".")[-1])

In [10]:
df['file_type'].value_counts()

zip    189
R        7
7z       2
Name: file_type, dtype: int64

In [11]:
189/198

0.9545454545454546

In [12]:
df

,submission,submit_time,file_type
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,zip
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,zip
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,zip
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,zip
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,zip
...,...,...,...
193,https://ckd.upgrad.com/UpGrad/ba485323-bba6-4b...,01/03/17-22:43:12,zip
194,https://ckd.upgrad.com/UpGrad/a65694d0-339b-44...,01/09/17-23:59:34,zip
195,https://ckd.upgrad.com/UpGrad/c3876ddf-2b2f-4a...,12/19/16-21:44:13,zip
196,https://ckd.upgrad.com/UpGrad/2b9732ad-0985-4a...,01/09/17-23:23:06,R
197,https://ckd.upgrad.com/UpGrad/21da378c-75a4-4a...,01/03/17-22:32:38,zip

In [13]:
df.dtypes

submission     object
submit_time    object
file_type      object
dtype: object

In [14]:
df['submit_time'] = pd.to_datetime(df['submit_time'])

In [15]:
df.dtypes

submission             object
submit_time    datetime64[ns]
file_type              object
dtype: object

In [16]:
df

,submission,submit_time,file_type
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,zip
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,zip
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,zip
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,zip
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,zip
...,...,...,...
193,https://ckd.upgrad.com/UpGrad/ba485323-bba6-4b...,2017-01-03 22:43:12,zip
194,https://ckd.upgrad.com/UpGrad/a65694d0-339b-44...,2017-01-09 23:59:34,zip
195,https://ckd.upgrad.com/UpGrad/c3876ddf-2b2f-4a...,2016-12-19 21:44:13,zip
196,https://ckd.upgrad.com/UpGrad/2b9732ad-0985-4a...,2017-01-09 23:23:06,R
197,https://ckd.upgrad.com/UpGrad/21da378c-75a4-4a...,2017-01-03 22:32:38,zip

In [17]:
df["date"] = df['submit_time'].dt.date

In [18]:
df

,submission,submit_time,file_type,date
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,zip,2017-01-03
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,zip,2017-01-03
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,zip,2017-01-03
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,zip,2017-01-02
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,zip,2017-01-03
...,...,...,...,...
193,https://ckd.upgrad.com/UpGrad/ba485323-bba6-4b...,2017-01-03 22:43:12,zip,2017-01-03
194,https://ckd.upgrad.com/UpGrad/a65694d0-339b-44...,2017-01-09 23:59:34,zip,2017-01-09
195,https://ckd.upgrad.com/UpGrad/c3876ddf-2b2f-4a...,2016-12-19 21:44:13,zip,2016-12-19
196,https://ckd.upgrad.com/UpGrad/2b9732ad-0985-4a...,2017-01-09 23:23:06,R,2017-01-09
197,https://ckd.upgrad.com/UpGrad/21da378c-75a4-4a...,2017-01-03 22:32:38,zip,2017-01-03

In [19]:
df['date'].value_counts()

2017-01-03    120
2017-01-09     21
2017-01-02     14
2017-01-04     12
2017-01-01      6
2016-12-30      6
2017-01-10      3
2017-01-08      3
2016-12-29      2
2016-12-28      2
2017-01-07      2
2016-12-19      1
2016-12-31      1
2017-02-03      1
2016-11-19      1
2017-01-06      1
2017-01-17      1
2016-12-21      1
Name: date, dtype: int64

In [20]:
 df['submit_time'].dt.time

0      20:28:52
1      20:18:21
2      22:37:08
3      21:43:19
4      15:27:49
         ...
193    22:43:12
194    23:59:34
195    21:44:13
196    23:23:06
197    22:32:38
Name: submit_time, Length: 198, dtype: object

In [21]:
df["time"] = df['submit_time'].dt.time

In [22]:
df['time'].value_counts()

23:59:21    2
23:30:12    2
21:58:52    1
23:47:27    1
15:08:52    1
           ..
21:19:18    1
20:20:50    1
14:38:39    1
22:27:07    1
10:09:29    1
Name: time, Length: 196, dtype: int64

In [26]:
dfdf['submit_time'].dt.hour

0      20
1      20
2      22
3      21
4      15
       ..
193    22
194    23
195    21
196    23
197    22
Name: submit_time, Length: 198, dtype: int64