In [2]:
pip install pydataset

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 856 kB/s eta 0:00:01
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from pydataset) (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->pydataset) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas->pydataset) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/lib/python3.8/site-packages (from pandas->pydataset) (1.19.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939429 sha256=f927cf55931c7f5818fb374dfc5371656d2b05ddf3dbf760f65d096fb122a1da
  Stored in directory: /home/jovyan/.cache/pip/wheels/d7/e5/36/85d319586b4a405d001029d489102f526ce5546248c295932a
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pydataset import data
sleepstudy =data('sleepstudy')

initiated datasets repo at: /home/jovyan/.pydataset/

In [4]:
print(sleepstudy.head(10))

    Reaction  Days  Subject
1   249.5600     0      308
2   258.7047     1      308
3   250.8006     2      308
4   321.4398     3      308
5   356.8519     4      308
6   414.6901     5      308
7   382.2038     6      308
8   290.1486     7      308
9   430.5853     8      308
10  466.3535     9      308

In [5]:
sleepstudy['Reaction'] = sleepstudy['Reaction'].apply(lambda x: 0 if x == 0 else round(x,1))

In [6]:
sleepstudy['Reaction'].head()

1    249.6
2    258.7
3    250.8
4    321.4
5    356.9
Name: Reaction, dtype: float64

In [7]:
import pandas as pd
rating = pd.read_csv('https://query.data.world/s/EX0EpmqwfA2UYGz1Xtd_zi4R0dQpog')

In [9]:
rating.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [ ]:
rating_upda = rating.drop_duplicates()