In [1]:
import pandas as pd

In [2]:
pd

In [3]:
df_finno_external_id = pd.read_csv("query_result.csv")

In [4]:
df_finno_external_id.head()

                            external_id
0  fffeb70a-9ea3-4965-93eb-3494dabbc41f
1  fffea142-2e9b-47bf-8a3f-24dfe94d7ad9
2  fffe8465-ce54-4164-bd4b-a079df1a148c
3  fffe6d43-a7d4-4a9c-a405-1498f9e09faf
4  fffdf820-f1fb-438b-92d4-91b8ea7b0dfd

In [5]:
df_braze = pd.read_csv("braze.csv")
df_braze.head()

# df_braze.fillna("null")
# df_braze.dropna()

                                user_id                 appboy_id
0  84e24e4f-6992-45ed-b815-0b10c6657ec3  5ece9df0597e266c2d2bb076
1  340e3b60-6c6e-4fa9-b3e3-f61058741ccb  5da87c093d87b56f4219e7a8
2  feb14097-43b4-478f-968d-929639ccf551  5ebd760d72203b38eb1b5956
3  08998e5b-0e99-4684-9211-874dfde6c6dc  5e917a8036cbbc7c4f620d76
4                                   NaN  5f39d620e178e46b10659660

In [6]:
df_braze_null_user_id = df_braze[df_braze['user_id'].isnull()]
df_braze_null_user_id.head()

   user_id                 appboy_id
4      NaN  5f39d620e178e46b10659660
8      NaN  5f2e589f8e57b466d4d6a2a7
10     NaN  5ea6838ed5bd4b65d1cc3c92
12     NaN  5fa24f85e2b56372d02dff4d
13     NaN  5f62f61bf8981c42f00ce63b

In [7]:
# df_braze_null_user_id.drop(['user_id', 'timezone', 'email', 'session_count', 'first_session', 'last_session', 'last_app_version_used', 'in_app_purchase_total', 'unsubscribed_from_emails_at', 'devices', 'created_at'], inplace=True, axis=1)
df_braze_null_user_id.drop(['user_id'], inplace=True, axis=1)
df_braze_null_user_id.head()
df_braze_null_user_id.to_csv("df_braze_null_external_id_result.csv")

In [8]:
df_braze = df_braze.dropna()
# df_braze.head()

In [9]:
import pyspark

spark = pyspark.sql.SparkSession.builder\
    .appName('braze-intigrity')\
    .getOrCreate()

In [10]:
df_spark_braze = spark.createDataFrame(df_braze)

In [11]:
df_spark_braze.show()
# df_braze.count()

+--------------------+--------------------+
|             user_id|           appboy_id|
+--------------------+--------------------+
|84e24e4f-6992-45e...|5ece9df0597e266c2...|
|340e3b60-6c6e-4fa...|5da87c093d87b56f4...|
|feb14097-43b4-478...|5ebd760d72203b38e...|
|08998e5b-0e99-468...|5e917a8036cbbc7c4...|
|fb7a57c0-f0a2-49f...|5da87d0e67a4f841c...|
|81127e6b-0b24-49f...|5f56ffb2ab5f857a2...|
|e22d8fde-a852-43b...|5e4d3372b508a53f5...|
|80d1fc6a-cbef-435...|5f15ace4adfdfd21e...|
|9c7f8623-1be0-4ac...|5f6e93d61b89d1774...|
|519f3cbd-0fec-440...|5e0a26078d0bd909f...|
|83d5ea6b-794d-4d8...|5da87c50fa9b92127...|
|454932eb-00b5-4ea...|5da879ca84a9b645e...|
|bb55ff26-4636-4c1...|5eaa91e947e2691fa...|
|88822aed-e60b-448...|5f7d0bc9f72bc4202...|
|f6e0a942-4485-4b0...|5da87d74e0cf9a6a6...|
|1cb6b797-572e-4be...|5e159502a6286e108...|
|6a1bfdc7-9195-4ac...|5da87d2b7625565c8...|
|45dd216d-47ac-421...|5da87bbe75435263d...|
|af8569bc-6e7a-431...|5f7564540edc000cc...|
|71167bca-ca9a-44d...|5de9ea45269e1d21d...|
+--------------------+--------------------+
only showing top 20 rows

In [12]:
# Register the DataFrame as a SQL temporary view
df_spark_braze.createOrReplaceTempView("braze_db")

In [13]:
sqlBraze = spark.sql("SELECT * FROM braze_db")

In [14]:
sqlBraze.show()

+--------------------+--------------------+
|             user_id|           appboy_id|
+--------------------+--------------------+
|84e24e4f-6992-45e...|5ece9df0597e266c2...|
|340e3b60-6c6e-4fa...|5da87c093d87b56f4...|
|feb14097-43b4-478...|5ebd760d72203b38e...|
|08998e5b-0e99-468...|5e917a8036cbbc7c4...|
|fb7a57c0-f0a2-49f...|5da87d0e67a4f841c...|
|81127e6b-0b24-49f...|5f56ffb2ab5f857a2...|
|e22d8fde-a852-43b...|5e4d3372b508a53f5...|
|80d1fc6a-cbef-435...|5f15ace4adfdfd21e...|
|9c7f8623-1be0-4ac...|5f6e93d61b89d1774...|
|519f3cbd-0fec-440...|5e0a26078d0bd909f...|
|83d5ea6b-794d-4d8...|5da87c50fa9b92127...|
|454932eb-00b5-4ea...|5da879ca84a9b645e...|
|bb55ff26-4636-4c1...|5eaa91e947e2691fa...|
|88822aed-e60b-448...|5f7d0bc9f72bc4202...|
|f6e0a942-4485-4b0...|5da87d74e0cf9a6a6...|
|1cb6b797-572e-4be...|5e159502a6286e108...|
|6a1bfdc7-9195-4ac...|5da87d2b7625565c8...|
|45dd216d-47ac-421...|5da87bbe75435263d...|
|af8569bc-6e7a-431...|5f7564540edc000cc...|
|71167bca-ca9a-44d...|5de9ea45269e1d21d...|
+--------------------+--------------------+
only showing top 20 rows

In [15]:
df_finno_external_id = spark.createDataFrame(df_finno_external_id)
df_finno_external_id.show()
df_finno_external_id.count()

+--------------------+
|         external_id|
+--------------------+
|fffeb70a-9ea3-496...|
|fffea142-2e9b-47b...|
|fffe8465-ce54-416...|
|fffe6d43-a7d4-4a9...|
|fffdf820-f1fb-438...|
|fffdde8c-7a72-4a6...|
|fffcce3f-7aba-4ab...|
|fffc6917-519a-472...|
|fffbed0c-e3b5-4b3...|
|fffb0602-935e-471...|
|fff9f8fd-d988-406...|
|fff9bf67-22b7-459...|
|fff9bd98-87f3-472...|
|fff91eb2-1918-4f1...|
|fff8f6d0-c17d-498...|
|fff87cd8-9c6e-486...|
|fff8393c-2937-4b1...|
|fff7b341-77fb-4cc...|
|fff669cf-678f-4d6...|
|fff64104-644a-450...|
+--------------------+
only showing top 20 rows

212957

In [16]:
# Register the DataFrame as a SQL temporary view
df_finno_external_id.createOrReplaceTempView("finno_db")

In [17]:
sqlFinno = spark.sql("SELECT * FROM finno_db")

In [18]:
sqlFinno.show()

+--------------------+
|         external_id|
+--------------------+
|fffeb70a-9ea3-496...|
|fffea142-2e9b-47b...|
|fffe8465-ce54-416...|
|fffe6d43-a7d4-4a9...|
|fffdf820-f1fb-438...|
|fffdde8c-7a72-4a6...|
|fffcce3f-7aba-4ab...|
|fffc6917-519a-472...|
|fffbed0c-e3b5-4b3...|
|fffb0602-935e-471...|
|fff9f8fd-d988-406...|
|fff9bf67-22b7-459...|
|fff9bd98-87f3-472...|
|fff91eb2-1918-4f1...|
|fff8f6d0-c17d-498...|
|fff87cd8-9c6e-486...|
|fff8393c-2937-4b1...|
|fff7b341-77fb-4cc...|
|fff669cf-678f-4d6...|
|fff64104-644a-450...|
+--------------------+
only showing top 20 rows

In [19]:
# join 2 table df_finno_external_id with df_braze
diff_2_table = spark.sql("""
    SELECT * FROM 
         braze_db
    LEFT JOIN  
         finno_db
    ON 
        braze_db.user_id  = finno_db.external_id
    WHERE 
        finno_db.external_id 
    IS NULL
    """)

In [20]:
diff_2_table.show()

+--------------------+--------------------+-----------+
|             user_id|           appboy_id|external_id|
+--------------------+--------------------+-----------+
|3c36c24c-6449-4c4...|5f80b623aae48f208...|       null|
|aa5c7200-b6c8-45b...|5facf8f810b8b576d...|       null|
|b80e2701-4a9a-460...|5facf1b3c214fe21d...|       null|
|cbe918ee-58f8-489...|5f16c3795601663cf...|       null|
|dd515943-f19c-476...|5f205ddc66f58a089...|       null|
|e64eec8f-cbcb-4da...|5db41bd4f394563e9...|       null|
|6e063d8c-34b1-4a1...|5fa7c63c3f5e09259...|       null|
|79a4ff2e-5716-47f...|5f6f86f3b18de16e4...|       null|
|83dc491f-0f50-456...|5e8320ae6e835a214...|       null|
|5fd9f79c-5e86-4c0...|5e4f807e59ceae37e...|       null|
|aac9287f-a8ea-45e...|5e4ba895b092ea27d...|       null|
|ad0b82b0-cbfc-499...|5facf95ed2aac869a...|       null|
|76af76d3-d3de-44d...|5facddadc49f5c6b1...|       null|
|b090bef4-b33a-480...|5e3925a3d4dda012b...|       null|
|ba4ba6ed-6fbe-4ed...|5e5501c406bc9a374...|       null|
|2be1b7f4-47d1-4a8...|5e948b76597e2653c...|       null|
|d21a280c-0a51-48b...|5f87d2281e3c8e469...|       null|
|51be9152-36d3-4ea...|5f8413d9b9266e267...|       null|
|d3d95805-4bbb-498...|5f363a6e92737e33f...|       null|
|74a0cc17-187c-417...|5e8320c769496f16d...|       null|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [21]:
diff_2_table.count()

457

In [22]:
columns_to_drop = ['user_id', 'email', 'external_id']
df_after_drop_columns = diff_2_table.drop(*columns_to_drop)

In [23]:
df_after_drop_columns.show()

+--------------------+
|           appboy_id|
+--------------------+
|5f80b623aae48f208...|
|5facf8f810b8b576d...|
|5facf1b3c214fe21d...|
|5f16c3795601663cf...|
|5f205ddc66f58a089...|
|5db41bd4f394563e9...|
|5fa7c63c3f5e09259...|
|5f6f86f3b18de16e4...|
|5e8320ae6e835a214...|
|5e4f807e59ceae37e...|
|5e4ba895b092ea27d...|
|5facf95ed2aac869a...|
|5facddadc49f5c6b1...|
|5e3925a3d4dda012b...|
|5e5501c406bc9a374...|
|5e948b76597e2653c...|
|5f87d2281e3c8e469...|
|5f8413d9b9266e267...|
|5f363a6e92737e33f...|
|5e8320c769496f16d...|
+--------------------+
only showing top 20 rows

In [24]:
df_after_drop_columns.count()

457

In [25]:
df_list_appboy = df_after_drop_columns.toPandas()

In [26]:
df_list_appboy.head()

                  appboy_id
0  5f80b623aae48f20874c6217
1  5facf8f810b8b576d1166e44
2  5facf1b3c214fe21d132600c
3  5f16c3795601663cf778dfcb
4  5f205ddc66f58a08963ec347

In [27]:
df_list_appboy.to_csv("df_list_appboy_result.csv")