In [1]:
import pandas as pd

In [2]:
pd

In [3]:
df_finno_external_id = pd.read_csv("query_result.csv")

In [4]:
df_finno_external_id.head()

                            external_id
0  fffeb70a-9ea3-4965-93eb-3494dabbc41f
1  fffea142-2e9b-47bf-8a3f-24dfe94d7ad9
2  fffe8465-ce54-4164-bd4b-a079df1a148c
3  fffe6d43-a7d4-4a9c-a405-1498f9e09faf
4  fffdf820-f1fb-438b-92d4-91b8ea7b0dfd

In [5]:
df_braze = pd.read_csv("braze.csv")
df_braze.head()

# df_braze.fillna("null")
# df_braze.dropna()

,user_id,timezone,email,session_count,first_session,last_session,last_app_version_used,in_app_purchase_total,unsubscribed_from_emails_at,devices,Appboy ID,created_at
0,84e24e4f-6992-45ed-b815-0b10c6657ec3,Asia/Bangkok,phitchaphon88@gmail.com,3,2020-05-27 17:13:06 UTC,2020-05-29 04:11:35 UTC,NaN,0.0,NaN,Mac (768x1024) - unknown_carrier,5ece9df0597e266c2d2bb076,2020-05-27 17:05:52 UTC
1,340e3b60-6c6e-4fa9-b3e3-f61058741ccb,NaN,nattakran_752@hotmail.com,0,NaN,NaN,NaN,0.0,NaN,NaN,5da87c093d87b56f4219e7a8,2019-10-17 14:34:49 UTC
2,feb14097-43b4-478f-968d-929639ccf551,Asia/Bangkok,net_neta@hotmail.com,5,2020-05-14 16:47:56 UTC,2020-06-02 19:27:34 UTC,NaN,0.0,NaN,"iOS (375x667) - unknown_carrier, iOS (375x667)...",5ebd760d72203b38eb1b5956,2020-05-14 16:47:09 UTC
3,08998e5b-0e99-4684-9211-874dfde6c6dc,Asia/Bangkok,marscheeny@hotmail.com,1,2020-04-11 08:06:42 UTC,2020-04-11 08:06:42 UTC,NaN,0.0,NaN,iOS (375x812) - unknown_carrier,5e917a8036cbbc7c4f620d76,2020-04-11 08:06:24 UTC
4,NaN,Asia/Bangkok,NaN,1,2020-08-17 00:58:08 UTC,2020-08-17 00:58:08 UTC,3.6.2,0.0,NaN,DUB-LX2 Android (O) (720x1440) - TogetherStaySafe,5f39d620e178e46b10659660,2020-08-17 00:58:08 UTC

In [6]:
df_braze_null_user_id = df_braze[df_braze['user_id'].isnull()]
df_braze_null_user_id.head()

,user_id,timezone,email,session_count,first_session,last_session,last_app_version_used,in_app_purchase_total,unsubscribed_from_emails_at,devices,Appboy ID,created_at
4,NaN,Asia/Bangkok,NaN,1,2020-08-17 00:58:08 UTC,2020-08-17 00:58:08 UTC,3.6.2,0.0,NaN,DUB-LX2 Android (O) (720x1440) - TogetherStaySafe,5f39d620e178e46b10659660,2020-08-17 00:58:08 UTC
8,NaN,Asia/Bangkok,NaN,4,2020-07-17 12:16:30 UTC,2020-10-08 19:24:18 UTC,3.6.5,0.0,NaN,Infinix X609B Android (O) (720x1344) - AIS,5f2e589f8e57b466d4d6a2a7,2020-08-08 07:47:43 UTC
10,NaN,Asia/Bangkok,NaN,1,2020-10-22 06:30:51 UTC,2020-10-22 06:30:51 UTC,4.0.0,0.0,NaN,CLT-L29 Android (Q) (1080x2037) - TRUE-H,5ea6838ed5bd4b65d1cc3c92,2020-04-27 07:02:38 UTC
12,NaN,Asia/Bangkok,NaN,3,2020-11-04 06:51:49 UTC,2020-11-04 06:52:46 UTC,4.0.1,0.0,NaN,iPhone 11 Pro 14.1 (1125x2436) - AIS,5fa24f85e2b56372d02dff4d,2020-11-04 06:51:49 UTC
13,NaN,Asia/Bangkok,NaN,5,2020-09-17 05:37:31 UTC,2020-09-28 06:36:29 UTC,3.6.4,0.0,NaN,DUB-LX2 Android (O) (720x1440) - AIS,5f62f61bf8981c42f00ce63b,2020-09-17 05:37:31 UTC

In [9]:
# df_braze_null_user_id.drop(['user_id', 'timezone', 'email', 'session_count', 'first_session', 'last_session', 'last_app_version_used', 'in_app_purchase_total', 'unsubscribed_from_emails_at', 'devices', 'created_at'], inplace=True, axis=1)
df_braze_null_user_id.head()
# df_braze_null_user_id.to_csv("df_braze_null_external_id.csv")

                   Appboy ID
4   5f39d620e178e46b10659660
8   5f2e589f8e57b466d4d6a2a7
10  5ea6838ed5bd4b65d1cc3c92
12  5fa24f85e2b56372d02dff4d
13  5f62f61bf8981c42f00ce63b

In [10]:
df_braze = df_braze.dropna()
# df_braze.head()

In [11]:
import pyspark

spark = pyspark.sql.SparkSession.builder\
    .appName('braze-intigrity')\
    .getOrCreate()

In [12]:
df_spark_braze = spark.createDataFrame(df_braze)

In [13]:
df_spark_braze.show()
# df_braze.count()

+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
|             user_id|           timezone|               email|session_count|       first_session|        last_session|last_app_version_used|in_app_purchase_total|unsubscribed_from_emails_at|             devices|           Appboy ID|          created_at|
+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
|cf08bde5-d3a5-488...|       Asia/Bangkok|ppnathawut@gmail.com|           20|2020-01-09 00:16:...|2020-04-15 12:07:...|                3.3.4|                  0.0|       2019-10-18 05:29:...|SM-N9750 Android ...|5da87ad8fb965a064...|2019-10-17 14:29:...|
|10d7c6a5-4642-4bc...|Australia/Melbourne|mthipphawan@gmail...|            3|2020-04-29 12:24:...|2020-04-29 12:41:...|                3.4.2|                  0.0|       2020-05-01 01:11:...|iOS (414x736) - u...|5ea971af2a584f17c...|2020-04-29 12:23:...|
|7445869a-4a9c-49e...|       Asia/Bangkok|krisorn.ph@gmail.com|           21|2020-02-26 04:41:...|2020-04-02 12:02:...|                3.3.1|                  0.0|       2019-10-18 05:28:...|Mac (1440x900) - ...|5da87a24ec5c49548...|2019-10-17 14:26:...|
|e63dfb08-7ab9-430...|       Asia/Bangkok|jab.weerabhat@gma...|          344|2020-03-22 17:23:...|2020-11-12 04:51:...|                4.0.4|                  0.0|       2020-04-06 11:32:...|LYA-L29 Android (...|5e779f1f83c86e417...|2020-03-22 17:23:...|
|c288e100-4153-43f...|       Asia/Bangkok|wongsakorn.suksir...|           34|2020-01-29 01:22:...|2020-07-18 01:48:...|                3.4.2|                  0.0|       2020-01-28 16:23:...|Nokia 9 Android (...|5e305fb56758b97ea...|2020-01-28 16:22:...|
|202efb34-1c43-4a3...|       Asia/Bangkok|somchusin@hotmail...|            1|2020-01-06 11:27:...|2020-01-06 11:27:...|                3.0.5|                  0.0|       2019-10-18 05:26:...|iPad Pro 13.2.2 (...|5da87a1b9a98ca393...|2019-10-17 14:26:...|
|5927f61f-7ee7-448...|       Asia/Bangkok| kasem@trueclick.net|            2|2020-02-07 05:32:...|2020-02-13 12:11:...|                3.2.1|                  0.0|       2020-02-14 07:09:...|SM-G770F Android ...|5e3cf6708345d6295...|2020-02-07 05:32:...|
|6d9a483d-941a-45a...|       Asia/Bangkok|templar567@yahoo.com|            5|2020-10-29 16:31:...|2020-10-29 16:42:...|                4.0.1|                  0.0|       2019-10-18 05:28:...|iPhone SE 13.7 (6...|5da879b14192f0066...|2019-10-17 14:24:...|
|984e4ee5-9948-4bd...|       Asia/Bangkok|taymeechai@hotmai...|          111|2020-02-19 02:29:...|2020-11-04 15:36:...|                4.0.4|                  0.0|       2019-10-18 05:28:...|Redmi K20 Pro Pre...|5da87bc50db8e95ca...|2019-10-17 14:33:...|
|e2caef38-a0dd-4e6...|       Asia/Bangkok|minato_no@hotmail...|            6|2020-01-09 10:54:...|2020-04-02 12:02:...|                3.3.1|                  0.0|       2019-10-18 05:28:...|PAR-LX9 Android (...|5da87beaaecd261a7...|2019-10-17 14:34:...|
|8aca85c8-6d41-4a4...|       Asia/Bangkok|peachkub_29@hotma...|           10|2020-02-13 03:54:...|2020-03-13 08:30:...|                3.2.1|                  0.0|       2020-02-14 04:15:...|LYA-L29 Android (...|5e44c866fb81f1342...|2020-02-13 03:54:...|
|d7536f12-72bb-4cb...|       Asia/Bangkok|  sompoj_p@yahoo.com|          553|2019-10-24 04:16:...|2020-11-11 15:13:...|                4.0.2|                  0.0|       2019-10-18 05:26:...|Windows (1600x900...|5da879aa2a17e04a6...|2019-10-17 14:24:...|
|f6aa0c2c-947f-4fc...|       Asia/Bangkok|somchuwave@gmail.com|           19|2020-01-12 10:36:...|2020-10-05 16:23:...|                3.6.5|                  0.0|       2019-10-18 05:28:...|SM-N950F Android ...|5da87899521ab2293...|2019-10-17 14:20:...|
|bbf488eb-c68e-494...|       Asia/Bangkok|   h98261e@gmail.com|            6|2020-03-20 18:35:...|2020-04-27 13:59:...|                3.3.6|                  0.0|       2020-03-22 04:28:...|Android (393x851)...|5e750c8af25d61719...|2020-03-20 18:33:...|
|5b96eb2f-a802-49f...|       Asia/Bangkok|    nuupan@gmail.com|           81|2019-10-31 04:48:...|2020-10-11 02:47:...|                3.9.0|                  0.0|       2019-10-18 05:30:...|Mac (834x1112) - ...|5dba67748b4a167e2...|2019-10-31 04:47:...|
|77c6bc2d-0c05-4d6...|       Asia/Bangkok|zatera1920@gmail.com|          469|2019-11-07 13:45:...|2020-11-09 11:10:...|                4.0.2|                  0.0|       2019-10-18 05:28:...|iOS (768x1024) - ...|5da87d4c92e7b0576...|2019-10-17 14:40:...|
|f0637387-3a29-477...|       Asia/Bangkok|sompongsansuk@yah...|            2|2020-03-01 18:55:...|2020-03-24 08:18:...|                3.3.0|                  0.0|       2020-03-07 06:37:...|JKM-LX2 Android (...|5e5c052a8d27bd794...|2020-03-01 18:55:...|
|8c3de7a0-016c-446...|       Asia/Bangkok|ruoma_lovely@hotm...|            1|2020-03-20 15:55:...|2020-03-20 15:55:...|                3.4.0|                  0.0|       2019-10-18 05:27:...|iPad Pro 13.3.1 (...|5da87b36ec5c495da...|2019-10-17 14:31:...|
|dc8f7911-c0cc-416...|       Asia/Bangkok|odyssey8832@gmail...|           23|2020-03-18 08:11:...|2020-10-20 08:32:...|                4.0.0|                  0.0|       2019-10-18 05:26:...|SM-A305F Android ...|5da87ae22a17e053c...|2019-10-17 14:29:...|
|256fb307-c3c4-4ff...|       Asia/Bangkok| lnpeace.m@gmail.com|           31|2020-01-16 11:47:...|2020-03-16 20:56:...|                3.3.2|                  0.0|       2019-10-18 05:28:...|iPhone 11 Pro 13....|5da87a835cf7532a2...|2019-10-17 14:28:...|
+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
# Register the DataFrame as a SQL temporary view
df_spark_braze.createOrReplaceTempView("braze_db")

In [15]:
sqlBraze = spark.sql("SELECT * FROM braze_db")

In [16]:
sqlBraze.show()

+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
|             user_id|           timezone|               email|session_count|       first_session|        last_session|last_app_version_used|in_app_purchase_total|unsubscribed_from_emails_at|             devices|           Appboy ID|          created_at|
+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
|cf08bde5-d3a5-488...|       Asia/Bangkok|ppnathawut@gmail.com|           20|2020-01-09 00:16:...|2020-04-15 12:07:...|                3.3.4|                  0.0|       2019-10-18 05:29:...|SM-N9750 Android ...|5da87ad8fb965a064...|2019-10-17 14:29:...|
|10d7c6a5-4642-4bc...|Australia/Melbourne|mthipphawan@gmail...|            3|2020-04-29 12:24:...|2020-04-29 12:41:...|                3.4.2|                  0.0|       2020-05-01 01:11:...|iOS (414x736) - u...|5ea971af2a584f17c...|2020-04-29 12:23:...|
|7445869a-4a9c-49e...|       Asia/Bangkok|krisorn.ph@gmail.com|           21|2020-02-26 04:41:...|2020-04-02 12:02:...|                3.3.1|                  0.0|       2019-10-18 05:28:...|Mac (1440x900) - ...|5da87a24ec5c49548...|2019-10-17 14:26:...|
|e63dfb08-7ab9-430...|       Asia/Bangkok|jab.weerabhat@gma...|          344|2020-03-22 17:23:...|2020-11-12 04:51:...|                4.0.4|                  0.0|       2020-04-06 11:32:...|LYA-L29 Android (...|5e779f1f83c86e417...|2020-03-22 17:23:...|
|c288e100-4153-43f...|       Asia/Bangkok|wongsakorn.suksir...|           34|2020-01-29 01:22:...|2020-07-18 01:48:...|                3.4.2|                  0.0|       2020-01-28 16:23:...|Nokia 9 Android (...|5e305fb56758b97ea...|2020-01-28 16:22:...|
|202efb34-1c43-4a3...|       Asia/Bangkok|somchusin@hotmail...|            1|2020-01-06 11:27:...|2020-01-06 11:27:...|                3.0.5|                  0.0|       2019-10-18 05:26:...|iPad Pro 13.2.2 (...|5da87a1b9a98ca393...|2019-10-17 14:26:...|
|5927f61f-7ee7-448...|       Asia/Bangkok| kasem@trueclick.net|            2|2020-02-07 05:32:...|2020-02-13 12:11:...|                3.2.1|                  0.0|       2020-02-14 07:09:...|SM-G770F Android ...|5e3cf6708345d6295...|2020-02-07 05:32:...|
|6d9a483d-941a-45a...|       Asia/Bangkok|templar567@yahoo.com|            5|2020-10-29 16:31:...|2020-10-29 16:42:...|                4.0.1|                  0.0|       2019-10-18 05:28:...|iPhone SE 13.7 (6...|5da879b14192f0066...|2019-10-17 14:24:...|
|984e4ee5-9948-4bd...|       Asia/Bangkok|taymeechai@hotmai...|          111|2020-02-19 02:29:...|2020-11-04 15:36:...|                4.0.4|                  0.0|       2019-10-18 05:28:...|Redmi K20 Pro Pre...|5da87bc50db8e95ca...|2019-10-17 14:33:...|
|e2caef38-a0dd-4e6...|       Asia/Bangkok|minato_no@hotmail...|            6|2020-01-09 10:54:...|2020-04-02 12:02:...|                3.3.1|                  0.0|       2019-10-18 05:28:...|PAR-LX9 Android (...|5da87beaaecd261a7...|2019-10-17 14:34:...|
|8aca85c8-6d41-4a4...|       Asia/Bangkok|peachkub_29@hotma...|           10|2020-02-13 03:54:...|2020-03-13 08:30:...|                3.2.1|                  0.0|       2020-02-14 04:15:...|LYA-L29 Android (...|5e44c866fb81f1342...|2020-02-13 03:54:...|
|d7536f12-72bb-4cb...|       Asia/Bangkok|  sompoj_p@yahoo.com|          553|2019-10-24 04:16:...|2020-11-11 15:13:...|                4.0.2|                  0.0|       2019-10-18 05:26:...|Windows (1600x900...|5da879aa2a17e04a6...|2019-10-17 14:24:...|
|f6aa0c2c-947f-4fc...|       Asia/Bangkok|somchuwave@gmail.com|           19|2020-01-12 10:36:...|2020-10-05 16:23:...|                3.6.5|                  0.0|       2019-10-18 05:28:...|SM-N950F Android ...|5da87899521ab2293...|2019-10-17 14:20:...|
|bbf488eb-c68e-494...|       Asia/Bangkok|   h98261e@gmail.com|            6|2020-03-20 18:35:...|2020-04-27 13:59:...|                3.3.6|                  0.0|       2020-03-22 04:28:...|Android (393x851)...|5e750c8af25d61719...|2020-03-20 18:33:...|
|5b96eb2f-a802-49f...|       Asia/Bangkok|    nuupan@gmail.com|           81|2019-10-31 04:48:...|2020-10-11 02:47:...|                3.9.0|                  0.0|       2019-10-18 05:30:...|Mac (834x1112) - ...|5dba67748b4a167e2...|2019-10-31 04:47:...|
|77c6bc2d-0c05-4d6...|       Asia/Bangkok|zatera1920@gmail.com|          469|2019-11-07 13:45:...|2020-11-09 11:10:...|                4.0.2|                  0.0|       2019-10-18 05:28:...|iOS (768x1024) - ...|5da87d4c92e7b0576...|2019-10-17 14:40:...|
|f0637387-3a29-477...|       Asia/Bangkok|sompongsansuk@yah...|            2|2020-03-01 18:55:...|2020-03-24 08:18:...|                3.3.0|                  0.0|       2020-03-07 06:37:...|JKM-LX2 Android (...|5e5c052a8d27bd794...|2020-03-01 18:55:...|
|8c3de7a0-016c-446...|       Asia/Bangkok|ruoma_lovely@hotm...|            1|2020-03-20 15:55:...|2020-03-20 15:55:...|                3.4.0|                  0.0|       2019-10-18 05:27:...|iPad Pro 13.3.1 (...|5da87b36ec5c495da...|2019-10-17 14:31:...|
|dc8f7911-c0cc-416...|       Asia/Bangkok|odyssey8832@gmail...|           23|2020-03-18 08:11:...|2020-10-20 08:32:...|                4.0.0|                  0.0|       2019-10-18 05:26:...|SM-A305F Android ...|5da87ae22a17e053c...|2019-10-17 14:29:...|
|256fb307-c3c4-4ff...|       Asia/Bangkok| lnpeace.m@gmail.com|           31|2020-01-16 11:47:...|2020-03-16 20:56:...|                3.3.2|                  0.0|       2019-10-18 05:28:...|iPhone 11 Pro 13....|5da87a835cf7532a2...|2019-10-17 14:28:...|
+--------------------+-------------------+--------------------+-------------+--------------------+--------------------+---------------------+---------------------+---------------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [17]:
df_finno_external_id = spark.createDataFrame(df_finno_external_id)
df_finno_external_id.show()
df_finno_external_id.count()

+--------------------+
|         external_id|
+--------------------+
|fffeb70a-9ea3-496...|
|fffea142-2e9b-47b...|
|fffe8465-ce54-416...|
|fffe6d43-a7d4-4a9...|
|fffdf820-f1fb-438...|
|fffdde8c-7a72-4a6...|
|fffcce3f-7aba-4ab...|
|fffc6917-519a-472...|
|fffbed0c-e3b5-4b3...|
|fffb0602-935e-471...|
|fff9f8fd-d988-406...|
|fff9bf67-22b7-459...|
|fff9bd98-87f3-472...|
|fff91eb2-1918-4f1...|
|fff8f6d0-c17d-498...|
|fff87cd8-9c6e-486...|
|fff8393c-2937-4b1...|
|fff7b341-77fb-4cc...|
|fff669cf-678f-4d6...|
|fff64104-644a-450...|
+--------------------+
only showing top 20 rows

212957

In [18]:
# Register the DataFrame as a SQL temporary view
df_finno_external_id.createOrReplaceTempView("finno_db")

In [19]:
sqlFinno = spark.sql("SELECT * FROM finno_db")

In [20]:
sqlFinno.show()

+--------------------+
|         external_id|
+--------------------+
|fffeb70a-9ea3-496...|
|fffea142-2e9b-47b...|
|fffe8465-ce54-416...|
|fffe6d43-a7d4-4a9...|
|fffdf820-f1fb-438...|
|fffdde8c-7a72-4a6...|
|fffcce3f-7aba-4ab...|
|fffc6917-519a-472...|
|fffbed0c-e3b5-4b3...|
|fffb0602-935e-471...|
|fff9f8fd-d988-406...|
|fff9bf67-22b7-459...|
|fff9bd98-87f3-472...|
|fff91eb2-1918-4f1...|
|fff8f6d0-c17d-498...|
|fff87cd8-9c6e-486...|
|fff8393c-2937-4b1...|
|fff7b341-77fb-4cc...|
|fff669cf-678f-4d6...|
|fff64104-644a-450...|
+--------------------+
only showing top 20 rows

In [23]:
# join 2 table df_finno_external_id with df_braze
diff_2_table = spark.sql("""
    SELECT * FROM 
         braze_db
    LEFT JOIN  
         finno_db
    ON 
        braze_db.user_id  = finno_db.external_id
    WHERE 
        finno_db.external_id 
    """)

AnalysisException: filter expression 'finno_db.`external_id`' of type string is not a boolean.;;
Project [user_id#0, timezone#1, email#2, session_count#3L, first_session#4, last_session#5, last_app_version_used#6, in_app_purchase_total#7, unsubscribed_from_emails_at#8, devices#9, Appboy ID#10, created_at#11, external_id#134]
+- Filter external_id#134: string
   +- Join LeftOuter, (user_id#0 = external_id#134)
      :- SubqueryAlias braze_db
      :  +- LogicalRDD [user_id#0, timezone#1, email#2, session_count#3L, first_session#4, last_session#5, last_app_version_used#6, in_app_purchase_total#7, unsubscribed_from_emails_at#8, devices#9, Appboy ID#10, created_at#11], false
      +- SubqueryAlias finno_db
         +- LogicalRDD [external_id#134], false

In [74]:
diff_2_table.show()

+--------------------+--------------------+--------------------+-----------+
|             user_id|               email|           appboy_id|external_id|
+--------------------+--------------------+--------------------+-----------+
|3c36c24c-6449-4c4...|annatruangsak@gma...|5f80b623aae48f208...|       null|
|aa5c7200-b6c8-45b...|niweerawan@hotmai...|5facf8f810b8b576d...|       null|
|b80e2701-4a9a-460...|  tha.srkvw@live.com|5facf1b3c214fe21d...|       null|
|6e063d8c-34b1-4a1...|chirawutkaewkunth...|5fa7c63c3f5e09259...|       null|
|83dc491f-0f50-456...|      test@test.comq|5e8320ae6e835a214...|       null|
|ad0b82b0-cbfc-499...| leelilly8@gmail.com|5facf95ed2aac869a...|       null|
|76af76d3-d3de-44d...|duanthong840@gmai...|5facddadc49f5c6b1...|       null|
|74a0cc17-187c-417...|      hsjs@hahaha.bx|5e8320c769496f16d...|       null|
|cdb65795-fd6c-4f4...|arnon79056@gmail.com|5f67ad5cc614f808c...|       null|
|7443deda-38df-4f6...|sunkick643@gmail.com|5f2c173d2d72062ab...|       null|
|11f06361-62ac-4dd...|santi0801322733@l...|5f3b8ffba22795224...|       null|
|7ac3a4f1-2070-4d1...|sprite.wt02@gmail...|5e1706eb945df779c...|       null|
|ba8e8add-d0ad-420...|satawat.sujarit@g...|5facf983a7751720b...|       null|
|13b507d7-0686-4d7...|  auai1980@gmail.com|5facf62502ebcd0d3...|       null|
|d337ceed-7c53-4fd...|pondlkjgfb@gmail.com|5f91aa7c32160120a...|       null|
|9138a4d4-adbb-493...|  thep3800@yahoo.com|5face3a1d05db36c5...|       null|
|e5bf0c20-9e33-463...|  xs.max13@gmail.com|5face8738580d970c...|       null|
|a7f5056a-6949-48a...|    aes506@gmail.com|5f9ba42d772c6e615...|       null|
|f6b115e6-38e8-46f...|  big68957@gmail.com|5f7b7fa8678af048b...|       null|
|               #REF!|supapron_tang@hot...|5ed8734142ba70216...|       null|
+--------------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [75]:
diff_2_table.count()

169

In [76]:
columns_to_drop = ['user_id', 'email', 'external_id']
df_after_drop_columns = diff_2_table.drop(*columns_to_drop)

In [77]:
df_after_drop_columns.show()

+--------------------+
|           appboy_id|
+--------------------+
|5f80b623aae48f208...|
|5facf8f810b8b576d...|
|5facf1b3c214fe21d...|
|5fa7c63c3f5e09259...|
|5e8320ae6e835a214...|
|5facf95ed2aac869a...|
|5facddadc49f5c6b1...|
|5e8320c769496f16d...|
|5f67ad5cc614f808c...|
|5f2c173d2d72062ab...|
|5f3b8ffba22795224...|
|5e1706eb945df779c...|
|5facf983a7751720b...|
|5facf62502ebcd0d3...|
|5f91aa7c32160120a...|
|5face3a1d05db36c5...|
|5face8738580d970c...|
|5f9ba42d772c6e615...|
|5f7b7fa8678af048b...|
|5ed8734142ba70216...|
+--------------------+
only showing top 20 rows

In [43]:
df_after_drop_columns.count()

169

In [78]:
df_list_appboy = df_after_drop_columns.toPandas()

In [79]:
df_list_appboy.head()

                  appboy_id
0  5f80b623aae48f20874c6217
1  5facf8f810b8b576d1166e44
2  5facf1b3c214fe21d132600c
3  5fa7c63c3f5e092594aaecf8
4  5e8320ae6e835a2146f1474a

In [80]:
df_list_appboy.to_csv("df_list_appboy.csv")